.msl-wrp {
  width: 100%;
}

.journal-message {
  width: fit-content;
  margin: 10px auto 0;
}

.volume-dropdown {
  width: 25.7%;
  /* margin-top: 10px; */
  display: inline-block;
  position: relative;
  top: 15px;
  margin-left: 40px;
}