.profile-div{
    padding: 20px 30px;
    width: 80%;
    margin: -10px auto;
    background-color: white;
}
/* .glass_profile{
  border-radius: 10px;
  padding: 10px;
  margin: 0 2rem;
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(12.1px);
-webkit-backdrop-filter: blur(12.1px);
border: 1px solid rgba(255, 255, 255, 1);
} */
.user-image-div{
    display: inline-block;
    width: fit-content;
    margin-left: 80px;
    position: relative;
    /* border: 1.5px solid gray; */
    border-radius: 12px;
    border: groove;
}
.user-pic{
    border-radius: 10px;
    /* width: 90%; */
    width: 250px;
    height: 220px;
    /* margin-left: 50px; */
}
.user-img-spinner{
    position: absolute;
    top: 40%;
    left: 40%;
}
.add-photo-div{
    position: absolute;
    right: 0px;
    bottom: 0px;
    opacity: 0.7;
    cursor: pointer;
    font-size: 19px;
    background: white;
    padding: 0 5px;
    border-radius: 4px;
}
.add-photo-div:hover{
    opacity: 0.9;
}
.user-name-div{
    display: inline-block;
    width: 60%;
    margin-left: 50px;
    position: relative;
    top: 50px;
}
.designation-div{
    margin-top: 16px;
}
.country-flag{
    width: 3.5%;
}
.country-div{
    font-size: 19px;
    margin-top: 18px;
}

.circle{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    display: inline-block;
    margin: 80px 60px 40px 90px;
    font-size: 60px;
    text-align: center;
    padding-top: 50px;

}

/* .right{
display:inline-block;
animation: animate1 2s ease;
opacity:1;
}
.left{
  animation: animate2 2s ease;
  opacity:1;
}
@keyframes animate1 {
0% {transform:translateX(-24.28vw);
  opacity:0;
}
100% { transform:translateX(0);
}
}
@keyframes animate2 {
0% {transform:translateX(24.28vw);
  opacity:0;
}
100% { transform:translateX(0);}
}
.center{
  opacity:1;
  animation: animate3 4s ease;
  opacity:1;
}
@keyframes animate3 {
0% {opacity:0};
100% {opacity:1;}
} */
.circle span{
    font-size: 18px;
    display: block;
    position: relative;
    top: 70px;
}
.more-info-div{
    margin: 90px 80px;
    font-size: 18px;
    position: relative;
}
.more-info-headings{
    display: inline-block;
    width: 15%;
    margin-top: 10px;
}
.more-info{
    margin-top: 10px;
    position: absolute;
    display: inline-block;
    /* margin-left: 200px; */
    width: 80%;
}
.edit-info-div{
    font-size: 16px;
    opacity: 0.8;
    margin-top: 10px;
    width: fit-content;
}
.edit-info-div:hover{
    opacity: 1;
    cursor: pointer;
}
