/* .Dropdown-root {
    display: inline-block;
    min-width: 25%;
    position: relative;
    margin-left: 10px;
}

.Dropdown-control {
    position: absolute;
    top: -25px;
    border-radius: 8px;
    height: 38px;
} */